.calva/output-window/
.classpath
.clj-kondo/
.cpcache
.eastwood
.factorypath
.hg/
.hgignore
.idea/
.java-version
.lein-*
.lsp/
node_modules
.nrepl-history
.nrepl-port
.portal
.project
.rebel_readline_history
.settings
.shadow-cljs
.socket-repl-port
.sw*
.vscode
*.class
*.iml
*.jar
*.swp
*~
/checkouts
/classes
/target
/resources/public/js/cljs-runtime
/resources/public/js/manifest.edn
/resources/public/js/main.js
