.calva/output-window/
.classpath
.clj-kondo/
.cpcache
.eastwood
.factorypath
.hg/
.hgignore
.idea/
.java-version
.lein-*
.lsp/
.nrepl-history
.nrepl-port
.portal
.project
.rebel_readline_history
.settings
.socket-repl-port
.sw*
.vscode
*.class
*.iml
*.jar
*.swp
*~
/checkouts
/classes
/target
